body {
	margin: 0;
	background-color: #771991;
	font-family: sans-serif;
}

nav {
	color: orange;
	font-size: 46px;
	line-height: 66px;
	font-weight: bold;
	background-color: #771991;
	text-align: center;
	border-bottom: 5px solid white;
}

nav a {
	color: orange;
	text-decoration: none;
}

.container {
	margin: 0 20px;
}

h2 {
	color: white;
	text-decoration: underline;
}

form {
	color: white;
	font-size: 20px;
}

.board {
	/*width: 600px;*/
	font-family: serif;
	margin-top: 20px;
	padding: 4px 0 0 4px;
	background-color: #771991;
	display: inline-block;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.board a {
	color: black;
}

.tile {
	font-size: 60px;
	line-height: 90px;
	text-align: center;
	display: inline-block;
	background-color: orange;
	width: 90px;
	height: 90px;
	margin-bottom: 4px;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
